.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(152,152,152,1) 100%);
}

.game-board {
  width: 90%;
  height: 90%;
  background-image: url('../img/JustTechBoard.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.player-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

/* .player-coordinates {
  margin-bottom: 5px;
  color: black;
  font-size: 12px;
  text-align: center;
}
 */
.player-token {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.player-token.red {
  background-color: #C23334;
  border: solid 1px white;
}

.player-token.blue {
  background-color: #447DAB;
  border: solid 1px white;
}

.player-token.green {
  background-color: #208F43;
  border: solid 1px white;
}

.player-token.white {
  background-color: #FFFFFF;
  color: #000000;
  border: solid 1px #000000;
}

.player-token.gray {
  background-color: #939393;
  border: solid 1px white;
}

.player-token.black {
  background-color: #000000;
  border: solid 1px white;
}

.player-stats {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 200px;
  padding: 20px;
  border-radius: 10px;
  z-index: 10;
  height: 100vh;
}

.player-stat {
  margin-bottom: 10px;
}

.game-controls {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 200px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saved-positions {
  margin-top: 20px;
}

canvas#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.question-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.question-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.categories {
  display: flex;
  gap: 4px;
}

.category-square {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border-style: solid;
}

.question-category-stats {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 23rem;
  height: 25rem;
  align-items: start;
  overflow-y: scroll;
  overflow-x: hidden;
}

.question-category-stats::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.question-category-stats::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.question-category-stats::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.category {
  margin: 1rem 0;
}

.difficulty {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.question-squares {
  display: flex;
  margin-left: 1rem;
}

.question-square {
  width: 20px;
  height: 20px;
  margin: 2px;
  transform: skew(-20deg);
  border: solid 1px black;
}

.answered {
  opacity: 0.5;
}

.winner-message {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: yellow;
  padding: 1rem 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 8px;
  font-size: 1.5rem;
  text-align: center;
}
