body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.new-game-background {
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(152, 152, 152, 1) 100%);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-game-setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.new-game-setup h2 {
  margin-bottom: 1rem;
}

.new-game-setup select, .new-game-setup input {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.new-game-setup button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
  cursor: pointer;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 8px;
}

.new-game-setup button:hover {
  background-color: #45a049;
}

.new-game-setup button:disabled {
  background-color: #707070;
  opacity: 25%;
}

.player-setup {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.player-setup label {
  margin-right: 1rem;
}

.player-setup input {
  margin-right: 1rem;
}

.new-game-setup ul {
  list-style-type: none;
  padding: 0;
}

.new-game-setup li {
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}

.new-game-setup li:hover {
  transform: scale(1.05);
}

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
