.question-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
  color: white;
  background: repeating-linear-gradient(
    45deg,
    transparent 25px,
    transparent 25px,
    #999 16px,
    #ccc 30px
  ),
  linear-gradient(
    to bottom,
    #eee,
    #999
  );
  opacity: 90%;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    background-position:0px 400px;
  }
  100% {
    background-position: 0px;
  }
}

.question-card h3 {
  margin-bottom: 10px;
  color: black;
}

p {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.question-card .options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-card .option {
  --aug-tl: 5px;
  font-size: 1.2rem;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}

.question-card .option.selected {
  background-color: black !important;
  color: #f2d55c !important;
}

.question-card .option:hover:not(.selected) {
  background-color: #252525;
  color: #f2d55c;
}
