/* src/styles/RouletteWheel.css */
.roulette-modal {
  width: 100%;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  color: #FFFFFF;
  background: repeating-linear-gradient(
    0deg,
    transparent 25px,
    transparent 25px,
    #999 16px,
    #ccc 30px
  ),
  linear-gradient(
    to bottom,
    #eee,
    #999
  );
  animation: scroll 2s linear infinite;
}

@keyframes scroll {
  0% {
    background-position: 0px 100px;
  }
  100% {
    background-position: 0px 0px;
  }
}

.roulette-wheel {
  text-align: center;
}

.roulette-wheel button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
  cursor: pointer;
  border: none;
  background-color: #f2d55c;
  color: black;
  border-radius: 8px;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.roulette-wheel button:disabled {
  background-color: #707070;
  opacity: 25%;
}

.wheel-container {
  position: relative;
  margin: 2rem auto;
  width: 200px;
  height: 200px;
}

.wheel {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
    rgba(194, 51, 52, 0.7) 0deg 60deg,           /* Algorithms & Data Structures */
    rgba(255, 255, 255, 0.7) 60deg 120deg,       /* Programming Languages */
    rgb(0, 0, 0, 0.7) 120deg 180deg,      /* Web Development */
    rgba(68, 125, 171, 0.7) 180deg 240deg,       /* Data Bases */
    rgba(147, 147, 147, 0.7) 240deg 300deg,       /* DevOps & Dev Tools */
    rgba(32, 143, 67, 0.7) 300deg 360deg       /* UNIX system terminal */
  );
  transform: rotate(0deg);
  transition: transform 3s ease-out;
}

.wheel.spinning {
  transform: rotate(3600deg); /* 10 full rotations */
}

.arrow-marker {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%) rotateX(180deg);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #fff200;
}

.final-angle {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: bold;
  color: #4CAF50;
}
