/* src/styles/RouletteWheel.css */
.roulette-modal {
  position: absolute;
  transform: translate(0, 50%);
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 8px;
}

.roulette-wheel {
  text-align: center;
}

.roulette-wheel button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
  cursor: pointer;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 8px;
}

.roulette-wheel button:disabled {
  background-color: #707070;
  opacity: 25%;
}

.wheel-container {
  position: relative;
  margin: 2rem auto;
  width: 200px;
  height: 200px;
}

.wheel {
  width: 100%;
  height: 100%;
  border: 10px solid #4CAF50;
  border-radius: 50%;
  background: conic-gradient(
    red 0deg 60deg,           /* Algorithms & Data Structures */
    white 60deg 120deg,       /* Programming Languages */
    black 120deg 180deg,      /* Web Development */
    blue 180deg 240deg,       /* Data Bases */
    gray 240deg 300deg,       /* DevOps & Dev Tools */
    green 300deg 360deg       /* UNIX system terminal */
  );
  transform: rotate(0deg);
  transition: transform 3s ease-out;
}

.wheel.spinning {
  transform: rotate(3600deg); /* 10 full rotations */
}

.arrow-marker {
  position: absolute;
  top: -30px;
  left: 55%;
  transform: translateX(-50%) rotateX(180deg);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #fff200;
}

.final-angle {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: bold;
  color: #4CAF50;
}
