/* src/styles/RouletteWheel.css */
.roulette-wheel {
  text-align: center;
}

.roulette-wheel button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
  cursor: pointer;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 8px;
}

.roulette-wheel button:disabled {
  background-color: #707070;
  opacity: 25%;
}
